.frame-content .project-single .full {
  height: 100vh;
}

.project-single .taCenter p {
  max-width: 70rem;
  margin: auto;
}

.project-single h5 {
  opacity: 0.01;
}

.project-single .video {
  margin: 4rem 0 2rem;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.project-single .video iframe,
.project-single .video object,
.project-single .video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-height: 1000px), screen (max-width: 900px) {
  .project-single .full {
    height: auto !important;
  }

  .project-single {
    padding: 12rem 0 5rem;
  }
}
