.photography-single {
  padding: 15rem 0 10rem;
}

.photography-single .taCenter {
  margin-bottom: 6rem;
}

.photography-single h3 {
  font-weight: 300;
}

.photography-single .wide .item {
  height: 22.5rem;
}

.photography-single .wide .item .Lazy--Wrap {
  height: 18rem;
  margin-bottom: 0.5rem;
  align-self: flex-start;
}

.Gallery {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
