.single-post .opener {
  height: 80rem;
  z-index: -9;
}

.single-post .opener h1 {
  position: relative;
}

.single-post .opener .BackgroundImage {
  opacity: 0.3;
}

.single-post .opener .gradient {
  height: 70%;
}

.single-post .opener .taCenter {
  z-index: 99;
}

.single-post .thin {
  margin-top: -15rem;
}

.single-post .pagination {
  border-top: 1px solid var(--light);
  margin-top: 3rem;
}

.single-post .pagination .prev {
  float: left;
}

.single-post .pagination .next {
  float: right;
}

.single-post .Content p {
  margin-bottom: 2.4rem;
}

@media screen and (max-width: 850px) {
  .single-post .opener {
    display: flex;
  }

  .single-post .opener .taCenter {
    width: 90%;
    margin: auto;
  }
}

@media screen and (max-width: 750px) {
  .single-post .opener {
    height: 40rem;
  }

  .single-post .opener h1 {
    font-size: 3rem;
  }
}
