.photography-single {
  padding: 15rem 0 10rem;
}

.photography-single h1 {
  margin-bottom: 6rem;
}

.photography-single .image-list:after {
  content: '';
  width: 30%;
}

.image-list.flex {
  display: flex;
  flex-wrap: wrap;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.8) !important;
  z-index: 10000 !important;
}

.popup-overlay:before {
  content: '';
  width: 4rem;
  height: 4rem;
  top: 3rem;
  right: 3rem;
  position: absolute;
  background: url('/images/close.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.popup-content {
  margin-top: 14rem !important;
  width: 100rem !important;
  height: 80%;
  padding: 0 !important;
  border: 0 !important;
  background: none !important;
  position: absolute;
}

.popup-content .LazyImage {
  margin: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media screen and (max-height: 900px) {
  .popup-content {
    padding: 0 2rem !important;
    height: 60%;
  }
}
