.single-post .opener {
  height: 80rem;
  z-index: -9;
}

.single-post .opener h1 {
  position: relative;
}

.single-post .opener .BackgroundImage {
  opacity: 0.5;
  z-index: -99;
}

.single-post .opener .gradient {
  width: 100%;
  height: 80%;
  background: linear-gradient(transparent 60%, var(--medium));
  position: absolute;
  bottom: -5px;
  z-index: 0;
}

.single-post .opener .taCenter {
  z-index: 999;
}

.single-post .thin {
  margin-top: -15rem;
}

.single-post .pagination {
  border-top: 1px solid var(--light);
  margin-top: 3rem;
}

.single-post .pagination .prev {
  float: left;
}

.single-post .pagination .next {
  float: right;
}

.single-post .Content p {
  margin-bottom: 2.4rem;
}

@media screen and (max-width: 850px) {
  .single-post .opener {
    display: flex;
    align-items: center;
  }

  .single-post .opener .taCenter {
    width: 90%;
    margin: 4rem auto 0;
  }
}

@media screen and (max-width: 750px) {
  .single-post .opener {
    height: 40rem;
  }

  .single-post .opener h1 {
    font-size: 3rem;
  }
}
