.photography-single {
  padding: 15rem 0 10rem;
}

.photography-single h1 {
  margin-bottom: 6rem;
}

.photography-single .wide .item {
  height: 21rem;
}

.photography-single .wide .item img {
  height: 18rem;
  margin-bottom: 0.5rem;
  align-self: flex-start;
}

.fancybox-bg {
  background: black !important;
}

.fancybox-container .fancybox-button--thumbs,
.fancybox-container .fancybox-button--play,
.fancybox-container .fancybox-button--zoom {
  display: none !important;
}

.fancybox-container button {
  background: white;
}

.fancybox-container .fancybox-button svg {
  color: black;
}
