.clients.flex,
.clients .flex {
  display: flex;
  flex-wrap: wrap;
}

.clients .item {
  height: auto;
}

@media screen and (max-width: 750px) {
  .clients .item {
    width: 50%;
    margin: 0;
  }
}
