.clients.flex,
.clients .flex {
  display: flex;
  flex-wrap: wrap;
}

.clients .item:after {
  content: '';
  position: absolute;
  background: url(/images/search.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 5rem;
  height: 5rem;
  opacity: 0;
  z-index: 10;
  transition: 0.5s ease all;
}

.clients .item:hover:after {
  opacity: 1;
}

.clients .item .LazyImage {
  transition: 0.5s ease all;
}

.clients .item:hover .LazyImage {
  opacity: 0.6;
}
