.Lazy--Wrap {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
}

.Lazy--Wrap.BackgroundImage {
  position: relative !important;
}

.Lazy--Wrap .LazyImage {
  width: 100%;
}

@supports (object-fit: cover) {
  .Lazy--Wrap .LazyImage {
    object-fit: cover;
    object-position: center;
    height: 100%;
  }
}

.Image {
  display: block;
  width: 100%;
}

.BackgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.BackgroundImage .Image {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.LazyImage {
  position: relative;
  display: inline-block;
  opacity: 0 !important;
  transition: ease all 0.3s;
}

.LazyImage.faded {
  opacity: 1 !important;
}
