.hide {
  display: none;
}

.show {
  display: block;
}

.nav {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100000000;
  padding: 2rem 0;
}

.nav a {
  margin: 0 auto;
}

.nav .wrap {
  max-width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
}

.nav .logo {
  position: relative;
  margin: auto;
}

.nav .social,
.menu-button {
  width: 12rem;
}

.nav .nav-links .social {
  width: auto;
}

.nav .nav-links .social .fab {
  font-size: 1.8rem;
  margin: 2rem 1rem;
}

.nav .social .fab {
  margin-left: 1.5rem;
  font-size: 1.5rem;
}

.menu-button {
  z-index: 1;
  padding: 2rem 0;
  cursor: pointer;
}

.menu-button .bar {
  width: 2.4rem;
  height: 2px;
  background: white;
  display: block;
  transition: 0.2s ease all;
}

.nav-active .menu-button .bar:first-child {
  transform: rotate(45deg);
}

.nav-active .menu-button .bar:last-child {
  transform: rotate(-45deg);
  margin-top: -0.2rem;
}

.menu-button .bar:last-child {
  margin-top: 0.8rem;
}

.nav-links {
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--medium);
  z-index: -9;
  animation: nav-links 0.2s ease;
}

.nav-active .nav-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
}

.NavLink {
  display: block;
  color: white;
  font-size: 6rem;
  font-weight: 600;
  margin: 2rem 0 !important;
  transition: all 0.5s ease;
}

.NavLink:after {
  content: '';
  width: 0%;
  height: 3px;
  background: white;
  display: block;
}

.NavLink:hover:after {
  width: 100%;
  animation: hover 0.8s ease-in-out;
}

@keyframes hover {
  0% {
    width: 0%;
  }

  50% {
    width: 100%;
  }
}

.NavLink:hover,
.NavLink.active,
.NavLink:focus {
  color: white;
}

.nav-active .NavLink {
  animation: link 0.3s ease-out;
  animation-fill-mode: both;
}

.nav .NavLink:nth-of-type(2) {
  animation-delay: 0.1s;
}

.nav .NavLink:nth-of-type(3) {
  animation-delay: 0.2s;
}

.nav .NavLink:nth-of-type(4) {
  animation-delay: 0.3s;
}

.nav .NavLink:nth-of-type(5) {
  animation-delay: 0.4s;
}

@keyframes link {
  from {
    transform: translate(0rem, 1rem);
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes nav-links {
  from {
    opacity: 0;
  }
}

@media screen and (max-width: 750px) {
  .hide {
    display: block;
  }

  .show {
    display: none;
  }

  .nav .menu-button {
    width: auto;
  }

  .nav .Logo {
    margin-left: -2rem;
  }

  .nav .wrap {
    max-width: 90% !important;
  }

  .nav-active .nav-links {
    padding-top: 10rem;
    display: block;
  }

  .NavLink {
    font-size: 2.8rem;
    margin: 1rem 0 !important;
  }

  .NavLink:hover:after {
    background: transparent;
  }
}
