.opener {
  width: 100%;
  height: 100%;
  min-height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.opener h1 {
  position: absolute;
  z-index: 101;
}

.opener .BackgroundImage {
  z-index: -9;
  opacity: 0.5;
}

.gradient {
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, var(--medium));
  position: absolute;
  bottom: -5px;
  z-index: 100;
}

.opener.video {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
}

.opener.video iframe {
  width: 100vw;
  height: 56vw;
  min-height: 99vh;
  min-width: 177.77vh;
  position: absolute;
  z-index: -99;
  top: calc(50% - 1vh);
  left: 50%;
  transform: translate(-50%, -50%);
}

.opener.mobile {
  display: none;
}

@media screen and (max-width: 850px) {
  .opener {
    display: none;
  }

  .mobile.opener {
    display: flex !important;
  }
}
