.opener {
  width: 100%;
  height: 100%;
  min-height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.open {
  position: absolute;
  z-index: 10000;
}

.open h3 {
  font-weight: 400;
}

.opener .BackgroundImage {
  z-index: -9;
  opacity: 0.5;
}

.gradient {
  width: 100%;
  height: 80%;
  background: linear-gradient(transparent 60%, var(--medium));
  position: absolute;
  bottom: -5px;
  z-index: 0;
}

.opener.video {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 1;
}

.opener.video::after {
  position: absolute;
  content: '';
  z-index: 1;
  background-color: rgba(23, 23, 23, 0.2);
  height: 100%;
  width: 100%;
  top: -0.5rem;
  left: 0;
}

@media screen and (max-width: 900px) {
  .opener.video::after {
    top: 0;
  }
}

.opener.video iframe,
.opener.video video {
  width: 100vw;
  height: 56vw;
  min-height: 100vh;
  min-width: 177.77vh;
  position: absolute;
  z-index: -99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.opener.video .progressBarContainer {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 0.5rem;
  display: block;
  background-color: rgba(255, 255, 255, 0.1);
}

.opener.video .progressBarContainer.preload {
  background-color: rgba(255, 255, 255, 0.3);
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.5) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0.5) 75%,
    transparent 75%,
    transparent
  );
  background-size: 50px 50px;
  animation: move 2s linear infinite;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

.opener.video .progressBarContainer .progressBar {
  position: relative;
  height: 100%;
  transition: ease all 0.3s;
}

.opener.video .progressBarContainer.buffer .progressBar {
  background-color: rgba(255, 255, 255, 0.4);
}

.opener.video .progressBarContainer.time .progressBar {
  background-color: rgba(255, 255, 255, 1);
}

.opener.video progress.currentTime {
}

.opener.video progress::-webkit-progress-value {
  background-color: #fff;
  transition: 0.3s ease all;
}

.opener.video progress::-moz-progress-bar {
  background-color: #fff;
  transition: 0.3s ease all;
}

.opener.mobile {
  display: none;
}

@media screen and (max-width: 900px) {
  .opener.video .progressBarContainer {
    display: none;
    opacity: 0;
  }
  .opener {
    display: none;
  }

  .gradient {
    height: 100%;
  }

  .mobile.opener {
    display: flex !important;
  }
}
