.posts .flex {
  flex-wrap: wrap;
}

.posts .item {
  height: auto !important;
  display: block;
}

.posts .item .post-card.flex {
  height: 25rem;
  justify-content: center !important;
  position: relative;
}

.posts .item .card {
  background: white;
  color: black;
  padding: 2rem 3rem;
  min-height: 12rem;
}

.posts .item .card h5 {
  opacity: 0.4;
}

.posts .item .card h4 {
  font-size: 1.8rem;
  margin: 0;
}
