.project-cat.flex,
.project-cat .flex {
  display: flex;
  flex-wrap: wrap;
}

.project-cat .item img {
  opacity: 0.4;
  transition: 0.5s ease all;
}

.project-cat .item:hover img {
  opacity: 0.2;
}

.project-cat .item h3 {
  position: absolute;
  z-index: 10;
}

.project-cat .item h3:after {
  content: '';
  width: 0%;
  height: 3px;
  background: white;
  display: block;
}

.project-cat .item:hover h3:after {
  width: 100%;
  animation: hover 0.8s ease-in-out;
}

@keyframes hover {
  0% {
    width: 0%;
  }

  50% {
    width: 100%;
  }
}
