.testimonials img.LazyImage {
  align-self: center;
  padding: 0 4rem 2rem;
  opacity: 0.2;
}

.swiper-container {
  display: flex;
  overflow: hidden;
}

.swiper-wrapper,
.swiper-slide {
  height: 24rem;
}

.swiper-wrapper {
  padding-right: 6rem;
  text-align: left;
}

.swiper-slide {
  display: flex;
  align-items: center;
}

.swiper-slide p {
  font-size: 1.8rem;
}

.swiper-pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 2rem;
  right: 0;
  top: 0;
  align-self: center;
  height: auto;
  width: 1px;
}

.swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.1);
  height: 2rem;
  width: 1px;
  margin-bottom: 0.8rem;
  display: block;
}

.swiper-pagination-bullet-active {
  background: white;
}

@media screen and (max-width: 750px) {
  .swiper-container {
    display: block;
  }
  .testimonials,
  .swiper-slide {
    text-align: center;
  }

  .testimonials img.LazyImage {
    height: 3rem;
    padding: 0;
    margin-bottom: 2rem;
    align-self: center;
  }

  .swiper-slide p {
    font-size: 1.5rem;
  }

  .swiper-slide {
    padding-bottom: 2rem;
  }

  .swiper-wrapper {
    padding: 0;
  }

  .swiper-wrapper,
  .swiper-slide {
    width: 100%;
  }

  .swiper-pagination {
    display: block;
    width: 100%;
    top: auto;
    bottom: 0 !important;
  }

  .swiper-pagination-bullet {
    height: 1px;
    width: 2rem;
    margin: 0 1rem;
    display: inline-block;
  }
}
