.testimonials .LazyImage {
  width: 7rem;
  opacity: 0.2;
}

.testimonials .wrap {
  width: calc(100% - 10rem);
  float: right;
}

.swiper-slide p,
.swiper-slide h5 {
  margin-bottom: 3rem;
}

.swiper-slide p {
  font-size: 1.8rem;
}

.swiper-pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  bottom: 0 !important;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 2rem;
  height: 2px;
  margin: 0 0.8rem !important;
  display: block;
  background: white;
  opacity: 0.3;
  border-radius: 0;
}

.swiper-pagination .swiper-pagination-bullet-active {
  opacity: 1;
}

@media screen and (max-width: 900px) {
  .testimonials {
    text-align: center;
    min-height: 10rem;
  }

  .testimonials .LazyImage {
    width: 4rem;
    opacity: 0.2;
    margin: 0 auto 3rem;
  }

  .testimonials .wrap {
    width: 90vw;
    display: block;
    float: none !important;
  }

  .swiper-slide {
    width: 100% !important;
  }

  .swiper-slide p {
    font-size: 1.5rem;
  }
}
